*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'arial', sans-serif;
    
}

@media only screen and(max-width:414px) {
    *{
        visibility: visible;
    }
}
/* ----------------------------Header------------------------ */
.navbar{
    position: fixed;
    width: 100%;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 65px;
    background-color: #1e1f1c;
    background-size: cover;
   }

.navbar .logo{
    color: rgb(224, 89, 11);
    font-size: 35px;
    font-family: arial;
    font-weight: bold;
    }

.navbar .navlinks{
    list-style: none;
    display: flex;
    gap:30px;
}

.navlinks  li a{
    text-decoration: none;
    text-transform: uppercase;
    color: aliceblue;
    font-family: arial;
    font-weight: bold;
}
 
.navlinks  li a:hover{
    color: orangered;
    font-size: 1.04rem;
}


/* -------------------------------About---------------------------------- */
.body{
    overflow-x: hidden;
    width:100%;
    max-width: 100%;
    }

.about{
    width: 100%;
    max-width: 100%;
    height: auto;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(../images/bgtop.png);
    background-position: center;
    background-size: cover;
    padding-top: 18PX;
       
}

.content {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-top: 10px;
    flex-wrap: wrap;
}


.content img{
    width: 25%;
    max-width: 100%;
    height: auto;
    margin-top: 25px;
   
}

.content p:first-child::first-letter {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: aliceblue;
    font-weight: bold;
    }

.content p{
    color: aliceblue;
    line-height: 35px;
    padding-top: 50px;
    width:70%;
    font-style: italic;
    }


.content a{
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
    text-decoration: none;
    color: aliceblue;
    font-family: arial;
    font-weight: bold;
    padding: 12px;
    background: black;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: aliceblue;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
    
}

.content a:hover{
    color: #11a372;
}


   .slider{
    margin-top: 5%;
    position: relative;
    width: 100%;
    max-width: 100%;
    height: auto;
    display: grid;
    place-items: center;
}

.slider .slide-track{
    width: 100%;
    max-width: 100%;
    height: auto;
    display: flex;
    animation: scroll 40s linear infinite;
}

.slide-track .slide{
    width: 100%;
    max-width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 140px;
} 

.slide img{
    height: auto;
    width: 400px;
    padding: 15px;
    transition: transform 1s;
   }

.slide img:hover{
    transform: translateZ(20px);
    }
   
@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px *21));
    }
}

   /* ---------------------------------Menu------------------------------- */
   .Menu{
    width: 100%;
    max-width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(../images/bgtop2.png);
    background-position: center;
    background-size: cover;
    height: auto;
    padding-top: 18PX;
   }

   .Menu .title{
    font-family: Arial, Helvetica, sans-serif;
    color: #f1f0f0;
    padding: 0px 0px 20px 30px;
    text-align: center;
   }

   .Menu .details{
    padding: 0px 30px;
    border-left: 2px solid #bababa;
    width: 100%;
    max-width: 100%;
    height: auto;
   }

   .Menu .details img{
    position:relative;
    width:100%;
    height: auto;
   }

   .buttons a{
    width: 10%;
    max-width: 100%;
    height: auto;
    margin-top: 30px;
    margin-left: 50%;
    
    font-size: 14px;
    text-decoration: none;
    color: aliceblue;
    font-family: arial;
    font-weight: bold;
    padding: 12px;
    background: rgb(167, 31, 31);
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: aliceblue;
    display: inline-block;
    border-radius: 5px;

   }

  .buttons a:hover{
    color: #6542a5;
  }
    
   
    /* ----------------------------Footer------------------------------ */
    footer {
        background: linear-gradient(to top, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 50%), url(../images/con-footer.jpg);
        background-position: center;
        background-size: cover;
        height: 200px;
        border-radius: 10px;
        position: relative;
        width: 100%;
        padding: 20px 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    footer #logo {
        display: flex;
        justify-content: space-between;  /* Space between Instagram (left) and GitHub/LinkedIn (right) */
        align-items: flex;
        width: 100%; /* Ensures that the space between is applied properly */
        margin: 10px 0;
    }
    
    footer #menu2 {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
        flex-wrap: wrap;
    }
    
    footer #logo li, footer #menu2 li {
        list-style: none;
        margin-top: 20px;
    }
    
    footer #logo li a {
        font-size: 2em;
        display: inline-block;
        transition: 0.5s;
    }
    
    footer #logo li a:hover {
        transform: translateY(-10px);
    }
    
    footer #menu2 li {
        display: flex;
        float: left;
    }
    footer #menu2 li a {
        font-size: 1.2em;
        color: #fff;
        margin: 0 10px;
        display: inline-block;
        text-decoration: none;
        opacity: 0.75;
    }
    
    footer #menu2 li a:hover {
        opacity: 1;
        color: #6542a5;
    }
    
    footer #logo li:first-child {
        margin-right: auto;
    }

    footer #logo{
        display: flex;
        justify-content: flex-end;
        gap: 10px;
        width: 100%;
    }

    footer #logo #dev{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        
    }
    
    /* Optional: styling for flex-item */
    .flex-item {
        padding: 10px;
        background-color: lightgreen;
        border: 1px solid #ccc;
    }
    
    
